@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Oswald:wght@200;300;400;500;600;700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

/* Font pairing for Option A  */
/* font-family: 'Roboto Condensed', sans-serif; */

/* Font pairing for Option B */
/* font-family: 'Noto Sans', sans-serif;
font-family: 'Montserrat', sans-serif;*/

/* Font pairing for Option C*/
/* font-family: 'Poppins', sans-serif; */

:root{
  /* optionA palette and fonts */
  --display-font: 'Poppins', sans-serif;
  --body-font: 'Poppins', sans-serif;
  --darkColor: #0375B6;
  --lightColor:  #0096C7;
  --accentColor:  #00A3FF; 
  --bgColor: black;

  /* optionB palette and fonts */
  /* --display-font: 'Noto Sans', sans-serif;
  --body-font:'Noto Sans', sans-serif; */
  /* --display-font: 'Montserrat', sans-serif;
  --body-font:'Montserrat', sans-serif;
  --darkColor: #042C71;
  --lightColor:  #4990EF;
  --accentColor:  #FF8600;
  --bgColor: white; */

  /* optionC palette and fonts */
  /* --display-font: 'Poppins', sans-serif;
  --body-font: 'Poppins', sans-serif;
  --darkColor: #2F4858;
  --lightColor:  #F2F2F2;
  --accentColor:  #00A3FF;
  --bgColor: black; */
}

html{
  scroll-behavior: smooth;
  background-color: var(--bgColor);
}
html.sr .load-hidden {
  visibility: hidden;
}
main{
  background-color: var(--bgColor);
 }
 footer{
   background-color: var(--bgColor);
 }
 .bi {
   color: var(--accentColor);
 }

  .cover-img {
    background: url(images/golfer-flag.png) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    background-position: 15% 20%;
  }
  
  .home-cover-img {
    background: url(images/golfcourse.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
  }

  .course-animation {
    animation: fadeIn 10s ease-in-out;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    50%{opacity: 0;}
    100% { opacity: 1; }
    }



@media only screen and (min-width: 980px) {
  /* For desktop: */
 .nav-item {
  padding-left:20px;
}
}

 nav{
  background-color: var(--bgColor);
}
.offcanvas-body {
  background-color: black;
} 
.offcanvas-body .nav-link{
  font-family: var(--display-font) !important;
}

.nav-link:hover{
  font-family: var(--display-font) !important;
  color: var(--accentColor)!important;
  transform: scale(1.1);
}

.img-circle {
  border-radius: 50%;
}

.card{
  border: none!important;
}

.title {
      padding-top: 100px;
}
.display-1 {
  font-weight: 200!important;
  color: white;
  opacity: .3;
}
.display-3 {
  font-weight: 200!important;
  color: white;
}

.display-6 {
  font-weight: 200!important;
  font-size: 2rem!important;

}
.name-narrative{
  color: var(--accentColor);
  font-size: 2.5rem;
}
.h1-custom{
font-family: var(--display-font)!important;
font-size: 4rem!important;
line-height: 4rem;
color: var(--accentColor)!important;
}
.h1-wht{
  font-family: var(--display-font)!important;
  font-size: 4rem!important;
  line-height: 4rem;
  color:white!important;
  }
.h2-custom{
font-family: var(--display-font)!important;
font-size: 2.5rem!important;
line-height: 2.5rem;
color: var(--accentColor)!important;
}
.h3-custom{
  font-family: var(--display-font)!important;
  font-size: 1.5rem!important;
  line-height: 1.5rem;
  color: var(--accentColor);
}
.body-text{
  font-family: var(--body-font)!important;
  color: var(--accentColor)!important;
}
.body-text-wht{
  font-family: var(--body-font)!important;
  color: white!important;
}
.body-text-lg{
  font-family: var(--body-font)!important;
  font-size: 2rem!important;
  color: white!important;
}
.body-text-accent{
  font-family: var(--body-font)!important;
  font-size: 1.5rem!important;
  color: var(--accentColor)!important;
}
p{
  font-family: var(--body-font)!important;
  font-size: 1rem!important;
  color: white!important;
}
.btn-primary{
  color: white!important;
  background-image: linear-gradient(to bottom, var(--darkColor)0%, var(--lightColor) 100%)!important;
  border: none!important;
}

.collapse.show {
  display: block;
}

.collapse {
  display: none;
 
}
/* 
#canvasParent1{
    background-color: black;
    width: 100vw;
}

#canvasParent2{
    background-color: black;
    width: 100vw;
} */

  .ballCounter {
    color: var(--accentColor);
    padding: 2rem;
    font-size: 4.5rem;
  }

.egg-box{
position: relative;
}

.easter-egg{
  border-radius: 50%;
  width: 80px;
  z-index: -1; 
  position:absolute;
  top: 50%;
  left: 50%;
}
@keyframes pulse {
  0% { box-shadow:0 0 8px white inset 0 0 8px white scale(0.75, 0.75); }
  50% { box-shadow:0 0 16px var(--accentColor) inset 0 0 14px var(--accentColor) scale(1, 1); }
  100% { box-shadow:0 0 8px white, inset 0 0 8px white scale(0.75, 0.75); }
}
.glow-ring {
  animation: pulse 2s linear 1s infinite;
  z-index: -2; 
  position:absolute;
  top: 50%;
  left: 50%;
  background-color:transparent;
  width:80px;
  height:80px;
  border-radius:50px;
  box-shadow: 0 0 8px var(--accentColor), inset 0 0 8px var(--accentColor); 
}
.glow-ring-index {
  animation: pulse 2s linear 1s infinite;
  background-color:transparent;
  width: 200px;
  height: 200px;
  border-radius: 200px;
  box-shadow: 0 0 8px var(--accentColor), inset 0 0 8px var(--accentColor); 
  
}
.glow-ring-index-sm {
  animation: pulse 2s linear 1s infinite;
  background-color: transparent;
  width: 50px;
  height: 50px;
  border-radius: 200px;
  box-shadow: 0 0 8px var(--accentColor), inset 0 0 8px var(--accentColor);
}


.blink-animation {
  animation: fadeIn 10s ease-in-out;
 
}

@keyframes fadeIn {
  0% { opacity: 0; }
  50%{opacity: 0;}
  100% { opacity: 1; }
  }
/* 
.blink {
  animation: blink-animation 4s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
} */

.roll-combo:hover {
  transform: translate(-200px, 0px);
	transition: 2.0s ease-in-out;
}
.spin:hover {
  transform:rotate(180deg);
	transition: 3.0s ease;
  } 

/* bouncing pic animation  */
.bounce-ceo {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;

}
.bounce-7 {
  animation-name: bounce-7;
  animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}
@keyframes bounce-7 {
  0%   { transform: scale(1,1)      translateY(0); }
  10%  { transform: scale(1.1,.9)   translateY(0); }
  30%  { transform: scale(.9,1.1)   translateY(-100px); }
  50%  { transform: scale(1.05,.95) translateY(0); }
  57%  { transform: scale(1,1)      translateY(-7px); }
  64%  { transform: scale(1,1)      translateY(0); }
  100% { transform: scale(1,1)      translateY(0); }
}
/* Splat In */
.animate {
  animation-duration: 0.75s;
  animation-delay: 0.5s;
  animation-name: animate-fade;
  animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
  animation-fill-mode: backwards;
}
.animate.splat { animation-name: animate-splat; }

@keyframes animate-splat {
  0% {
    opacity: 0;
    transform: scale(0, 0) rotate(20deg) translate(0, -30px);
    }
  70% {
    opacity: 1;
    transform: scale(1.1, 1.1) rotate(15deg);
  }
  85% {
    opacity: 1;
    transform: scale(1.1, 1.1) rotate(15deg) translate(0, -10px);
  }

  100% {
    opacity: 1;
    transform: scale(1, 1) rotate(0) translate(0, 0);
  }
}

 .ball { 
  position: fixed;
  /* left: 10vw;
  top: 20vh; */
  max-width: 100vw;
  animation: ballAnim 3s linear forwards;
  animation-timing-function:ease-in-out;
}

@keyframes ballAnim {
  0% {
    top:20vh;
    left: 10vw;
    transform: scale(1.5) rotate(0deg);
      }
  25% {
      top:20vh;
      left: 30vw;
      transform: scale(2.5) rotate(180deg);
      }
  100% {
    top:100vh;
    left: 100vw;
    transform: scale(.1) rotate(359deg);
      }   
  } 


.ball-curve {
      width: 370px;
      animation:
        x 1s linear infinite alternate,
        y 1s infinite cubic-bezier(0,500,1,500);
    }
    
    @keyframes x {
       to {
         left:10vw;
       }
    }
    @keyframes y {
       to {
         top:90vh;
       }
    }

/* 
.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
} */


/* timer styling */
#app{
  opacity: .5;
}
.base-timer {
  position: relative;
  width: 300px;
  height: 300px;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: black;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 1px;
  stroke: lightslategray;
}

.base-timer__path-remaining {
  stroke-width: 1px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
color: var(--accentColor);
}
/* 
.base-timer__path-remaining.orange {
  color: orange;
} */
/* 
.base-timer__path-remaining.red {
  color: white;
} */

.base-timer__label {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  color: white;
}


