body {
  height: 2000px;
}
#div1{
height: 1000px;
}
#div2{
height: 1000px;
}

#scroll-ball-1 {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  position: fixed;
  /* background-color: black; */
}
#scroll-ball-2 {
border-radius: 50%;
width: 80px;
height: 80px;
position: fixed;
/* background-color: black; */
}

.title {
      padding-top: 100px;
  }

#canvasParent1{
    background-color: black;
    width: 100vw;
  }

#canvasParent2{
    background-color: black;
    width: 100vw;
  }
  