:root{
    --salmon: rgb(255, 166, 134);
    --raspberry: rgb(182,70, 95);
    --green-black rgb(22, 37, 33);
    --periwinkle: rgb(144, 151, 192);
}

.btn-outline-success{
    color: var(--salmon);
}