body {
    margin: 0px;
    overflow: hidden;
    animation: colorBody 6s;
    position: relative;
    height: 100vh;
    animation-iteration-count:infinite;
    animation-direction: alternate;
    animation-timing-function:ease-in-out;
}

@keyframes colorBody {
    0% {
        background-color: hsl(213, 91%, 83%);
    }
    45% {
        background-color:hsl(213, 41%, 34%);
    }
    100% {
        background-color: hsl(0, 0%, 0%);}
}


.moon{
    position: absolute;
    left:50vw;
    animation: myOrbit 16s linear infinite; 
    width: 200px;
   
}
.moon {
    /* Container. Animate along the X-axis */
   
    animation: xAxis 6s infinite cubic-bezier(0.02, 0.01, 0.21, 1);
  }
  
  .moon::after {
    /* Render dot, and animate along Y-axis */
    animation: yAxis 6s infinite cubic-bezier(0.3, 0.27, 0.07, 1.64);
  }

  @keyframes yAxis {
    50% {
      animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
      transform: translateY(-50vh);
    }
  }
  
  @keyframes xAxis {
    50% {
      animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
      transform: translateX(50vw);
    }
  }


@keyframes showTiredBrain {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes brainPulse {
   0% {
    transform: scale(1.0);
    }
    100% {
    transform: scale(.8);
    }
}
@media screen and (min-width: 375px) {
    .laptop {
        height: 33vh;
        position: absolute;
        left: 15vw;
        bottom: -5vh;
    }
  }
  @media screen and (min-width: 768px) {
    .laptop{
        height: 33vh;
        position: absolute;
        left: 33vw;
        bottom: -5vh;
    } 
    .brain-awake{
        height: 20vh;
        position: absolute;
        left: 36vw;
        bottom: 20vh;
        animation: brainPulse 6s forwards;
        animation-iteration-count:infinite;
        animation-direction: alternate;
    } 
    .brain-tired{
        transform: scale(.8);
        height: 20vh;
        position: absolute;
        left: 36vw;
        bottom: 20vh;
        /* animation: brainPulse 5s 1s  forwards;
        animation-iteration-count:infinite;
        animation-direction: alternate; */
        animation: showTiredBrain 6s forwards;
        opacity: 0;
        animation-iteration-count:infinite;
        animation-direction: alternate;
        animation-timing-function:ease-in-out;
        z-index: 2;
    } 
    .brain{

    }
  }