body {
    margin: 0px;
    overflow: hidden;
    animation: colorBody 6s;
    position: relative;
    height: 100vh;
    animation-iteration-count:infinite;
    animation-direction: alternate;
    animation-timing-function:ease-in-out;
}

@keyframes colorBody {
    0% {
        background-color: hsl(213, 91%, 83%);
    }
    50% {
        background-color:hsl(213, 41%, 34%);
    }
    100% {
        background-color: hsl(0, 0%, 0%);}
}

.sun{ 
    position: absolute;
    left: 50vw;
    top: 15vh;
    width: 15vh;
    /* offset-path: path('M 5 5 m -4, 0 a 4,4 0 1,0 8,0 a 4,4 0 1,0 -8,0'); */
    animation: sunAnim 12s linear infinite;
    animation-direction: alternate;
    animation-timing-function:ease-in-out;
   
}
.moon{ 
    position: absolute;
    left: 50vw;
    top: 15vh;
    width: 15vh;
    /* offset-path: path('M 5 5 m -4, 0 a 4,4 0 1,0 8,0 a 4,4 0 1,0 -8,0'); */
    animation: moonAnim 12s linear infinite;
    animation-direction: alternate;
    animation-timing-function:ease-in-out;
   
}
@keyframes sunAnim {
    0%  {
       scale: 1;
    }
    100%  {
       scale: 0.001;
    }
}
@keyframes moonAnim {
    0%  {
       scale: .001;
    }
    100%  {
       scale: 1;
    }
}

/* 
.moon {
    Container. Animate along the X-axis */
    /* animation: xAxis 6s infinite ; */
    /* animation-timing-function:ease-in-out;
  }
  
.moon::after {
    /* Render dot, and animate along Y-axis */
    /* animation: yAxis 6s infinite ;
    animation-timing-function:ease-in-out;
  }  */
  /* #motion-demo {
    offset-path: path('M20,20 C20,100 200,0 200,100');
    animation: move 3000ms infinite alternate ease-in-out;
    width: 40px;
    height: 40px;
    background: cyan;
  } */
  
/*   
  .marker {

    offset-path: path('M 5 5 m -4, 0 a 4,4 0 1,0 8,0 a 4,4 0 1,0 -8,0');
    animation: move 12s linear infinite;
  } */
  
  /* @keyframes move {
    100% { 
      motion-offset: 100%;
      offset-distance: 100%;
    }
  } */
  @keyframes move {
    0% {
      offset-distance: 0%;
    }
    100% {
      offset-distance: 100%;
    }
  }

@keyframes yAxis {
    50% {
        animation-timing-function: ease-in;
      transform: translateY(-50vh);
    }
  } 
@keyframes xAxis {
    50% {
        animation-timing-function: ease-out;
      transform: translateX(50vw);
    }
  }

@keyframes showTiredBrain {
    0% {opacity: 0;}
    25% {opacity: 0;}
    50% {opacity: 0;}
    75% {opacity: .75;}
    100% {opacity: 1;}
}

@keyframes brainPulse {
   0% {
    transform: scale(1.0);
    }
    100% {
    transform: scale(.8);
    }
}
@media screen and (min-width: 375px) {
    .laptop {
        height: 33vh;
        position: absolute;
        left: 15vw;
        bottom: -5vh;
    }
    .brain-awake{
        height: 20vh;
        position: absolute;
       left: 30vw;
        bottom: 20vh;
        animation: brainPulse 6s forwards;
        animation-iteration-count:infinite;
        animation-direction: alternate;
    } 
    .brain-tired{
        transform: scale(.8);
        height: 20vh;
        position: absolute;
        left: 30vw;
        bottom: 20vh;
        animation: showTiredBrain 6s forwards;
        opacity: 0;
        animation-iteration-count:infinite;
        animation-direction: alternate;
        animation-timing-function:ease-in-out;
        z-index: 2;
    } 
  }
  @media screen and (min-width: 768px) {
    .laptop{
        height: 33vh;
        position: absolute;
        left: 33vw;
        bottom: -5vh;
    } 
    .brain-awake{
        height: 20vh;
        position: absolute;
        left: 36vw;
        bottom: 20vh;
        animation: brainPulse 6s forwards;
        animation-iteration-count:infinite;
        animation-direction: alternate;
    } 
    .brain-tired{
        transform: scale(.8);
        height: 20vh;
        position: absolute;
        left: 36vw;
        bottom: 20vh;
        animation: showTiredBrain 6s forwards;
        opacity: 0;
        animation-iteration-count:infinite;
        animation-direction: alternate;
        animation-timing-function:ease-in-out;
        z-index: 2;
    } 
  }