body {
    margin: 0px;
    overflow: hidden;
    animation: colorBody 6s;
    position: relative;
    height: 100vh;
    animation-iteration-count:infinite;
    animation-direction: alternate;
    animation-timing-function:ease-in-out;
}

@keyframes colorBody {
    0% {
        background-color: hsl(213, 91%, 83%);
    }
    50% {
        background-color:hsl(213, 41%, 34%);
    }
    100% {
        background-color: hsl(0, 0%, 0%);}
}
.typing {
  width: 18ch;
  animation: typingAnim 2s steps(18), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
  background-color: white;
  color: black;
}
@keyframes typingAnim {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

 .sun{ 
  position: absolute;
  left: 10vw;
  top: 20vh;
  width: 15vh;
  animation: sunAnim 12s linear infinite;
  animation-timing-function:ease-in-out;
}

.moon{ 
  position: absolute;
  right: 10vw;
  width: 12vh;
  animation: moonAnim 12s linear infinite ; 
  animation-timing-function:ease-in-out;
}


@keyframes sunAnim {
  0% {
    top:25vh;
    transform: scale(1.5);
  }
  50% {
    top:100vh;
    transform: scale(.1);
  }
  100% {
    top: 25vh;
    transform: scale(1.5);
  }
  } 

@keyframes moonAnim {
  0% {
    top:100vh;
    transform: scale(.1);
    
  }
  50% {
    top:25vh;
    transform: scale(1.5);
   
  }
  100% {
    top: 100vh;
    transform: scale(.1);
    
  }
  }

@keyframes showTiredBrain {
    0% {opacity: 0;}
    75% {opacity: 1;}
    100% {opacity: 1;}
   
}

@keyframes brainPulse {
   0% {
    transform: scale(1.0);
    }
    100% {
    transform: scale(.8);
    }
}
.laptop {
  height: 50vh;
  position: fixed;
  bottom: 0px;
}

.brains{
  padding-top: 10vh;
  animation: brainPulse 6s forwards;
  animation-iteration-count:infinite;
  animation-direction: alternate;
}
.brain-awake{
  width: 20vw;
  position: absolute;

  
} 
.brain-tired{
  width: 20vw;
  position: absolute;
  animation: showTiredBrain 6s forwards;
  opacity: 0;
  animation-iteration-count:infinite;
  animation-direction: alternate;
  animation-timing-function:ease-in-out;
  z-index: 2;
} 
@media only screen and (max-width: 600px) {
  .brains{
    transform: scale(2);
  }
}
