a-scene {
    height: 300px;
    width: 600px;
  }
  .title {
      padding-top: 100px;
  }

  #canvasParent1{
    background-color: black;
    width: 100vw;
  }

  #canvasParent2{
    background-color: black;
    width: 100vw;
  }