@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Luckiest+Guy&display=swap');
/* font-family: 'Luckiest Guy', cursive; */
:root{
    --display-font-family:'Luckiest Guy', cursive;
    --bs-body-font-family: 'Bitter', serif;
    --purple:#A08FB7;
    --blue:#A0E7F5;
    --pink:#FFD0E8;
    --white:#FFF;
}
body{
    max-width: 1440px;
    margin: auto;
}
header {
    height: 350px;
}
.navbar a{
    font-family: var(--display-font-family);
    color: var(--white);
}
.navbar a:hover{
    font-family: var(--display-font-family);
    color: var(--purple);
}
#nav-gradient {
    background-image: linear-gradient(rgb(255, 208, 232), rgb(176, 235, 247));
}
#cakes-bg-color{
    background-color:rgba(255, 208, 232, 0.3);

}
.gradient-effect:hover {
    background-position: 100% 100%;
}

.gradient-effect{
background-image: 
linear-gradient(
135deg, #000 0%, #000 25%, #ec80ab 50%, #ad74f8 75%,rgb(42, 211, 245) 100%);
background-size: 400% 400%;
background-repeat: no-repeat;
display: flex;
width:400px;
height: 600px;
justify-content: center;
align-items: center;
position: relative;
cursor: pointer;
transition: 0.75s all;
}
.gradient-effect-img {
    position: absolute;
    left: 0;
    top: 0;
    background: #000 no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.8;
    mix-blend-mode: screen;
    /* height:600px; 
    width: 400px; */
}
figure{
    width: 400px;
}
.gradient-effect-title {
    text-decoration: none;
    position: relative;
    z-index: 10;
    text-transform: uppercase;
    font-family: var(--display-font-family);
    color: var(--white);
}

  figure.text-effect h2 {
    margin: 0 auto;
    bottom: 50%;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
  }

  figure.text-effect p {
    top: 50%;
    opacity: 0;
    font-size: 1rem;
    -webkit-transform: translateY(-20%);
    transform: translateY(-20%);
  }
  figure.text-effect:hover h2{
    font-family: var(--display-font-family);
    color: white;
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
figure.text-effect:hover p {
    font-family: var(--bs-body-font-family);
    color:white; 
    opacity: 1;
    -webkit-transform: translateY(0px) scale(1);
    transform: translateY(0px) scale(1);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/* Nav menu effect */
.grow { 
    transition: all .2s ease-in-out;
    transition: transform .2s; 
}

.grow:hover { 
    transform: scale(2); 
}