.container-fluid{
  max-width: 1280px;
}

.carousel-indicators {
  bottom: -10rem;
  margin-right: 0;
  margin-left: 0;
  width: 33%;
}

.carousel-indicators [data-bs-target] {
  /* width: 33.33333%; */
  height: initial;
  text-indent: initial;
  flex-basis: 33%;
  background-color: white;
}

.carousel-indicators [data-bs-target]:first-child {
  margin-left: 0;
}

.carousel-indicators [data-bs-target]:last-child {
  margin-right: 0;
}

.carousel-caption {
padding-bottom: 5rem;
}
.img-container {
  height: 100vh;
}
.img-fluid {
  max-width: 100%;
  /* height: 75vh; */
}
.bg-image {
  background-image: url("https://dummyimage.com/1200x800/000/aaa");
  height: 75vh;
}
.card:last-child {
  padding-bottom: 5rem;
}
#accordionPanelsStayOpenExample{
  padding-bottom: 5rem!important;
}
#product-description{
  padding-top: 1rem !important;
  padding-bottom:8rem!important;
}
#product-price{
  padding-top: 10rem!important;
}
/* #product-img{
  padding-top: 8rem!important;
} */
@media (min-width: 375px){
  #carousel-thumbnail-space{
    padding-top: 10rem;
  }
  .carousel-indicators {
    bottom: -10rem;
    margin-right: 0;
    margin-left: 0;
    width: 100%;}
  }
@media (min-width: 768px){
  .carousel-indicators {
      bottom: -18rem;
      margin-right: 0;
      margin-left: 0;
      width: 100%;
    }
    .container-fluid{
      max-width: 768px;
    }
    .container-carousel{
      max-width: 720px;
      padding-bottom: 18rem;
  }
  #carousel-thumbnail-space{
    padding-top: 20rem;
  }
  }
@media (min-width: 992px){
  .carousel-indicators {
      bottom: -16rem;
      margin-right: 0;
      margin-left: 0;
      width: 100%;
    }
    .container-fluid{
      max-width: 992px;
    }
    .container-carousel{
      max-width: 992px;
      padding-bottom: 18rem;
      padding-top: 5rem;
  }
  #carousel-thumbnail-space{
    padding-top: 0;
  }
    }
