@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Unica+One&display=swap');

:root{
    --headingColor: rgb(166, 99, 204);
    --subheadingColor: rgb(111,45, 189);
    --linkColor: rgb(178, 152, 220);
    --hoverColor: rgb(184, 208, 235);
    --activeColor: rgb(185, 250, 248);
}

.navbar{
    position: fixed;
    background-color: black;
    width: 100%;
}
a {
    color: var(--linkColor);
    font-family: 'Unica One', cursive;
}
p{
    font-family: 'Crimson Text', serif;
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.25;
}
.lead{
    font-family: 'Crimson Text', serif;
    outline-style: solid;
    outline-color: var(--subheadingColor);
    padding: 1.5rem;
}
.display-1,.display-2{
    color: var(--headingColor);
    font-family: 'Unica One', cursive; 
}
.display-3{
    color: var(--subheadingColor);
    font-family: 'Unica One', cursive;
}
/* .container {
    position: relative;
    text-align: center;
  } */
  .jumbotron {
    background-image: url(images/snail.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin-bottom: 0;
   }
   .container-fluid{
       background-color: black;
   }
   .img-fluid{
       width: 100%;
   }
 footer{
     background-color: black;
 }