@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Unica+One&display=swap');

:root{
    --headingColor: rgb(166, 99, 204);
    --subheadingColor: rgb(111,45, 189);
    --linkColor: rgb(178, 152, 220);
    --hoverColor: rgb(184, 208, 235);
    --activeColor: rgb(185, 250, 248);
}

.navbar{
    width: 100%;
}
.navbar-dark .navbar-nav .nav-link.active{
    color: var(--activeColor);
}
/* .collapse.show {
    background-color: var(--hoverColor);
    opacity: .5;
} */
a {
    color: var(--linkColor);
    font-family: 'Unica One', cursive;
}
p{
    font-family: 'Crimson Text', serif;
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
}
.lead{
    
    outline-style: solid;
    outline-color: var(--subheadingColor);
    padding: 1.5rem;
}
p.lead{
    font-family: 'Crimson Text', serif;
        font-size: 2rem;
}
.display-1, .display-2, .display-3, .display-4{
    color: var(--headingColor);
        font-family: 'Unica One', cursive;
}
h1{
    color: white;
    font-family: 'Unica One', cursive;  
}
h2, h3, h4{
    color: var(--subheadingColor);
    font-family: 'Unica One', cursive;
}
/* }
.display-1,.display-2, .display-3{
    color: var(--headingColor);
    font-family: 'Unica One', cursive; 
}
.display-4{
    color: var(--subheadingColor);
    font-family: 'Unica One', cursive;
} */
  .jumbotron {
    background-image: url(images/snail.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin-bottom: 0;
   }
   .container-fluid{
       background-color: black;
   }
   .img-fluid{
       width: 100%;
   }
 footer{
     background-color: black;
 }
 /*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/
/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {  
    h1 {font-size:3rem;} /*1rem = 16px*/
  }
   
  /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
  @media (min-width: 768px) {  
    h1 {font-size:6rem;} /*1rem = 16px*/
  }
   
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) { 
    h1 {font-size:9rem;} /*1rem = 16px*/
  }
   
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {  
    h1 {font-size:9rem;} /*1rem = 16px*/    
  }
  