@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Oswald:wght@200;300;400;500;600;700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Font pairing for Option A  */
/* font-family: 'Roboto Condensed', sans-serif; */

/* Font pairing for Option B */
/* font-family: 'Noto Sans', sans-serif;
font-family: 'Montserrat', sans-serif;*/

/* Font pairing for Option C*/
/* font-family: 'Poppins', sans-serif; */

:root{
  /* optionA palette and fonts */
  --display-font: 'Poppins', sans-serif;
  --body-font: 'Poppins', sans-serif;
  --darkColor: #0375B6;
  --lightColor:  #0096C7;
  --accentColor:  #00A3FF; 
  --bgColor: black;

  /* optionB palette and fonts */
  /* --display-font: 'Noto Sans', sans-serif;
  --body-font:'Noto Sans', sans-serif; */
  /* --display-font: 'Montserrat', sans-serif;
  --body-font:'Montserrat', sans-serif;
  --darkColor: #042C71;
  --lightColor:  #4990EF;
  --accentColor:  #FF8600;
  --bgColor: white; */

   /* optionC palette and fonts */
  /* --display-font: 'Poppins', sans-serif;
  --body-font: 'Poppins', sans-serif;
  --darkColor: #2F4858;
  --lightColor:  #F2F2F2;
  --accentColor:  #00A3FF;
  --bgColor: black; */
}

html{
  scroll-behavior: smooth;
}
html.sr .load-hidden {
  visibility: hidden;
}
main{
  background-color: var(--bgColor);
 }
 footer{
   background-color: var(--bgColor);
 }
.navbar-light .navbar-toggler {
  border-color: transparent !important;
}
nav{
  background-color: var(--bgColor);
}
.offcanvas-body, .offcanvas-header{
  background-color: var(--darkColor);

}
.offcanvas-body .nav-link{
  font-family: var(--display-font) !important;
  font-size: 4rem !important;
  background: -webkit-linear-gradient(var(--darkColor), var(--lightColor));
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: white;
}
.offcanvas-body .nav-link:hover{
  font-family: var(--display-font) !important;
  background: -webkit-linear-gradient(var(--darkColor), var(--lightColor));
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--accentColor);
}
a:active{
  font-family: var(--display-font) !important;
  background: -webkit-linear-gradient(var(--darkColor), var(--lightColor));
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--accentColor);
}

.img-circle {
  border-radius: 50%;
}
.card{
  border: none!important;
}
.title {
      padding-top: 100px;
}
.h1-custom{
font-family: var(--display-font)!important;
font-size: 4rem!important;
line-height: 4rem;
color: var(--accentColor)!important;
}

.h2-custom{
font-family: var(--display-font)!important;
font-size: 2.5rem!important;
line-height: 2.5rem;
color: var(--accentColor)!important;
}

.h3-custom{
  font-family: var(--display-font)!important;
  font-size: 1.5rem!important;
  line-height: 1.5rem;
  color: var(--accentColor);
}
.body-text{
  font-family: var(--body-font)!important;
  color: var(--accentColor)!important;
}
.body-text-wht{
  font-family: var(--body-font)!important;
  color: white!important;
}
.body-text-lg{
  font-family: var(--body-font)!important;
  font-size: 2rem!important;
  color: white!important;
}
.body-text-accent{
  font-family: var(--body-font)!important;
  font-size: 1.5rem!important;
  color: var(--accentColor)!important;
}
p{
  font-family: var(--body-font)!important;
  font-size: 1rem!important;
  color: white!important;
}


.btn-primary{
  color: white!important;
  background-image: linear-gradient(to bottom, var(--darkColor)0%, var(--lightColor) 100%)!important;
  border: none!important;
}

.collapse.show {
  display: block;
}
.collapse {
  display: none;
 
}
#canvasParent1{
    background-color: black;
    width: 100vw;
}

#canvasParent2{
    background-color: black;
    width: 100vw;
  }
  .bio-btn{
    transition: 0.3s;
  }
  .bio-btn:hover{
    transform: scale(1.1);
  }

/* .animation{
    position: relative;
    overflow: hidden;
    background-color: white;
}

  .ball{
    position: absolute;
    height: 70px;
    top: 50%;
    left: 0;
 } */
 .ball { 
  position: absolute;
  left: 10vw;
  top: 20vh;
  width: 15vh;
  animation: ballAnim 3s linear forwards;
  animation-timing-function:ease-in-out;
}

@keyframes ballAnim {
  0% {
    top:40vh;
    left: 10vw;
    transform: scale(1.5) rotate(0deg);
      }
  25% {
      top:20vh;
      left: 30vw;
      transform: scale(2.5) rotate(180deg);
      }
  100% {
    top:100vh;
    left: 100vw;
    transform: scale(.1) rotate(359deg);
      }   
  } 

  .ball-RtoL { 
      position: absolute;
      right: 10vw;
      top: 20vh;
      width: 15vh;
      animation: ballAnim-RtoL 3s linear forwards;
      animation-timing-function:ease-in-out;
    }
  
    @keyframes ballAnim-RtoL {
      0% {
        top:40vh;
        right: 10vw;
        transform: scale(1.5) rotate(0deg);
          }
      25% {
          top:20vh;
          right: 30vw;
          transform: scale(2.5) rotate(180deg);
          }
      100% {
        top:100vh;
        right: 100vw;
        transform: scale(.1) rotate(359deg);
          }   
      } 

.ball-curve {
      animation:
        x 1s linear infinite alternate,
        y 1s infinite cubic-bezier(0,500,1,500);
    }
    
    @keyframes x {
       to {
         left:10vw;
       }
    }
    @keyframes y {
       to {
         top:90vh;
       }
    }

    .ball-curve-RtoL {
      animation:
        x 1s linear infinite alternate,
        y 1s infinite cubic-bezier(0,500,1,500);
    }
    
    @keyframes x {
       to {
         right:10vw;
       }
    }
    @keyframes y {
       to {
         top:90vh;
       }
    }

.navbar-toggler {
    background-color: white!important;
}
#brand-name {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1.5rem;
  color: #2265D4;
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

@property --num {
  syntax: '<integer>';
  initial-value: 0;
  inherits: false;
}

.ballCounter {
  animation: counter ease-in-out;
  counter-reset: num var(--num);
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  padding: 2rem;
  font-size: 4rem;
  transition: --num 4s;
}

div:hover {
  --num: 301108120;
}

.ballCounter::after {
  content: counter(num);
  color:#2265D4;
}


