@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

body {
    margin: auto;
}
h1 {
    font-size: 2.5rem;
    padding-bottom: 2.5rem;
}
.lead {
    font-size: 1.25rem;
    font-weight: 300;
}
.btn-primary {
    color: #fff;
    background-color: #E65931;
    border-color: #E65931;
}
.btn-outline-primary {
    color: #E65931;
    border-color: #E65931;
}
.fw-bold {
    font-weight: 700!important;
    color: #06AFD9;
}
.divider {
    margin: 3rem 0;
    margin-left: 33%;
}
hr {
    margin: 1rem 0;
    color: #06AFD9;
    background-color: currentColor;
    border: 0;
    opacity: .75;
    width: 75%;
}
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}
@media (min-width: 62em)
.featurette-heading {
    margin-top: 7rem;
}
@media (min-width: 40em)
.featurette-heading {
    font-size: 50px;
}



